body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  flex-shrink: 0;
  height: 2.3em;
  /* display: flex; */
  margin-right: 0.5rem;
}
