body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./pics/3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: 100% auto;
  background-position: center top;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  flex-shrink: 0;
  height: 2.3em;
  margin-right: 0.5rem;
}
